.header {
    width: 600px;
    margin: auto;
    border: 1px solid blue; 
}

.header1 {
    padding: 20px;
    
}

.item {
    display: flex;
    margin-top: 20px;
}
.item_left {
    width:25%;
    height: 30px;
    padding-left: 15px;
    line-height: 30px;
    margin-right: 20px;
    color: #000;
    
}

.item_right {
    height: 30px;
    width: 70%;
}

.search {
    margin: 30px auto;
    width: 30%;
    height: 40px;
    display: block;
    background-color: #4f81bd; 
    border: none;
    color: #fff;  
    cursor: pointer;
    border-radius: 4px;
}


.keyword, .drop {
    height: 26px;
    width:99% ;
    padding: 0;
    background: #e1eaf4;
    border: 2px solid #4f81bd !important;
    border-radius: 4px;
}


.show_sv {
    margin-left: 20px;
    margin-bottom: 20px;
}
.item_left2{
    width: 78%;
}
.item_left_2 {
    
    display: flex;
    margin-left: 20px;
    margin-bottom: 15px;
    
}
.item_left_con1 {
    width: 10%;
    
}
.item_left_con{
    width: 30%;
    
}

.header2 {
    display: flex;
}

.item_right2 {
    margin-top: -40px;
    width: 18%;
}

.item_right_con {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
}

.add {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    color: #fff;
    background-color: #4f81bd;
    border-radius: 4px;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.action {

    margin-bottom: 10px;
}

.delete {
    padding: 4px 10px;
    background-color: #4f81bd;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}



